@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lt9kcz');
  src:  url('../fonts/icomoon.eot?lt9kcz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lt9kcz') format('truetype'),
    url('../fonts/icomoon.woff?lt9kcz') format('woff'),
    url('../fonts/icomoon.svg?lt9kcz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
  color: #fff;
}
.icon-instagram:before {
  content: "\ea92";
  color: #fff;
}
.icon-twitter:before {
  content: "\ea96";
  color: #fff;
}
.icon-linkedin:before {
  content: "\eac9";
  color: #fff;
}
